Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Authorization/policyAssignments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Authorization/policyDefinitions, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml: any of: .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.DocumentDB/databaseAccounts, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Network/virtualNetworkGateways, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml: any of: .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/hostingEnvironments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.sites.yml: any of: .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/sites, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Fixed typo
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed casing
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed several wiki issues
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Token replacement.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update API for RSV.
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Remove user assigned manageed identity.
  arm/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Update RSV API.
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Uncomment PE implementation, update readme and remove trigger for topic branch.
  .github/workflows/ms.recoveryservices.vaults.yml
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

reverting namePrefix
  settings.json
Due: none

Push updated Readme file(s)
  README.md
Due: none

Undo changes to global var file.
  global.variables.yml
Due: none

Undo change to global var file.
  global.variables.yml
Due: none

First commit
  .github/actions/templates/getWorkflowInput/action.yml
Due: none

update arm folder name to module
  modules/Microsoft.Sql/servers/.parameters/parameters.json
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
Due: none

Undo indentation changes to depedency KV param file.
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: none

First commit (#1615)
  .github/actions/templates/getWorkflowInput/action.yml
Due: none

Update RSV.
  modules/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Update PE service.
  modules/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  modules/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Remove userAssignedIdentities.
  modules/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  modules/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Moved module to correct place
  modules/Microsoft.OperationalInsights/workspaces/linkedStorageAccounts/deploy.bicep
  modules/Microsoft.OperationalInsights/workspaces/linkedStorageAccounts/readme.md
  modules/Microsoft.OperationalInsights/workspaces/linkedStorageAccounts/version.json
Due: none

Updated docs
  modules/Microsoft.Batch/batchAccounts/readme.md
Due: none

fix(webpubsub): Updated default sku
  arm/Microsoft.SignalRService/webPubSub/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix(webpubsub): Updated pipeline variables
  arm/Microsoft.SignalRService/webPubSub/.parameters/full.parameters.json
Due: none

fix(webpubsub): Updated pipeline variables
  arm/Microsoft.SignalRService/webPubSub/.parameters/min.parameters.json
Due: none

fix(webpubsub): Deleted .test folder as requested
  arm/Microsoft.SignalRService/webPubSub/.test/deploy.full.test.bicep
  arm/Microsoft.SignalRService/webPubSub/.test/deploy.minimal.test.bicep
Due: none

fix(redis): Updated diagnostics name
  arm/Microsoft.Cache/redis/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Minor change in prep
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated versioning
  modules/Microsoft.ContainerInstance/containerGroups/deploy.bicep
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
Due: none

Update docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Cleanup
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  modules/Microsoft.ContainerInstance/containerGroups/.parameters/encr.parameters.json
Due: none

Update to latest
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
Due: none

Corrected the @mention of teams + cleanup of owners (#1603)
  .github/CODEOWNERS
Due: none
