Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - Policyassignments
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
      parameters:
        deploymentBlocks:
        - path: $(modulePath)/.parameters/allowedLocations.parameters.json
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/platformPipelines/platform.wiki-sync.yml:
  name: '.Platform: Sync Docs/Wiki'
  jobs:
  - job: Update_module_tables
    pool:
      ${{ if ne('$(vmImage)', '') }}:
        vmImage: $(vmImage)
      ${{ if ne('$(poolName)', '') }}:
        name: $(poolName)
    steps:
    - checkout: self
      displayName: Checkout Source Repo
      persistCredentials: true
  ...

Update to latest
  arm/Microsoft.AnalysisServices/servers/.parameters/min.parameters.json
  arm/Microsoft.ApiManagement/service/.parameters/max.parameters.json
  arm/Microsoft.Automation/automationAccounts/.parameters/min.parameters.json
  arm/Microsoft.Compute/galleries/.parameters/images.parameters.json
  arm/Microsoft.ContainerService/managedClusters/.parameters/azure.parameters.json
  arm/Microsoft.ContainerService/managedClusters/.parameters/kubenet.parameters.json
  arm/Microsoft.DesktopVirtualization/applicationgroups/.parameters/min.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.parameters/mongodb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.parameters/plain.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.parameters/sqldb.parameters.json
  arm/Microsoft.NetApp/netAppAccounts/.parameters/min.parameters.json
  arm/Microsoft.NetApp/netAppAccounts/.parameters/nfs3.parameters.json
  arm/Microsoft.NetApp/netAppAccounts/.parameters/nfs41.parameters.json
  arm/Microsoft.Network/bastionHosts/.parameters/min.parameters.json
  arm/Microsoft.Network/firewallPolicies/.parameters/min.parameters.json
  arm/Microsoft.Network/privateEndpoints/.parameters/min.parameters.json
  arm/Microsoft.Network/privateEndpoints/.parameters/parameters.json
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/expressRoute.parameters.json
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/vpn.parameters.json
  arm/Microsoft.Network/virtualNetworks/.parameters/vnetPeering.parameters.json
  arm/Microsoft.OperationalInsights/workspaces/.parameters/min.parameters.json
  arm/Microsoft.RecoveryServices/vaults/.parameters/min.parameters.json
  arm/Microsoft.Resources/deploymentScripts/.parameters/cli.parameters.json
  arm/Microsoft.Resources/deploymentScripts/.parameters/ps.parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.min.parameters.json
Due: none

Updated Sysctl settings
  arm/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
Due: none

Removed unneccessary properties object
  arm/Microsoft.ContainerService/managedClusters/.parameters/azure.parameters.json
  arm/Microsoft.ContainerService/managedClusters/.parameters/kubenet.parameters.json
Due: none

Update to latest
  docs/wiki/ModulesDesign.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/Microsoft.Compute/virtualMachineScaleSets/extensions/readme.md
Due: none

Update to latest
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
Due: none

Update to latest
  docs/wiki/PipelinesUsage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/GettingStarted.md
  docs/wiki/PipelinesDesign.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/GettingStarted.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/PipelinesDesign.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Create subnet child-resource (#707)
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Network/virtualNetworks/.parameters/min.parameters.json
  arm/Microsoft.Network/virtualNetworks/.parameters/parameters.json
  arm/Microsoft.Network/virtualNetworks/.parameters/vnetPeering.parameters.json
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/readme.md
  arm/Microsoft.Network/virtualNetworks/subnets/.bicep/nested_cuaId.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/readme.md
  docs/wiki/TestingDesign.md
  utilities/pipelines/dependencies/Microsoft.Network/routeTables/parameters/sqlMi.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  .azuredevops/pipelineTemplates/module.jobs.publish.yml
  .azuredevops/pipelineVariables/global.variables.yml
  docs/wiki/PipelinesDesign.md
  utilities/pipelines/resourcePublish/Publish-ModuleToNuget.ps1
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  .azuredevops/pipelineVariables/global.variables.yml
Due: none

Update to latest
  utilities/pipelines/resourceRemoval/helper/Get-ResourceIdsOfDeployment.ps1
  utilities/pipelines/resourceRemoval/orchestrators/Remove-AutomationAccount.ps1
  utilities/pipelines/resourceRemoval/orchestrators/Remove-GeneralModule.ps1
  utilities/pipelines/resourceRemoval/orchestrators/Remove-vWan.ps1
Due: none

Update to latest
  utilities/pipelines/resourceRemoval/Remove-DeployedModule.ps1
  utilities/pipelines/resourceRemoval/orchestrators/Remove-GeneralModule.ps1
Due: none

Update to latest
  utilities/pipelines/resourceRemoval/Remove-DeployedModule.ps1
  utilities/pipelines/resourceRemoval/helper/Get-OrderedResourcesList.ps1
  utilities/pipelines/resourceRemoval/helper/Get-ResourceIdsAsFormattedObjectList.ps1
  utilities/pipelines/resourceRemoval/orchestrators/Remove-GeneralModule.ps1
Due: none

Update SUPPORT.md
  SUPPORT.md
Due: none

Added missing reference
  utilities/pipelines/resourceRemoval/orchestrators/Remove-GeneralModule.ps1
Due: none

Registry name test
  .github/variables/variables.module.json
Due: none

Update to latest
  utilities/pipelines/resourceRemoval/helper/Remove-ResourceList.ps1
  utilities/pipelines/resourceRemoval/orchestrators/Remove-GeneralModule.ps1
Due: none

Update to latest
  utilities/pipelines/resourceRemoval/orchestrators/Remove-AutomationAccount.ps1
  utilities/pipelines/resourceRemoval/orchestrators/Remove-vWan.ps1
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
