Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Authorization/policyAssignments, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

crocs
  global.variables.yml
Due: none

test
  .github/workflows/ms.network.applicationsecuritygroups.yml
Due: none

set local tokens to false
  global.variables.yml
Due: none

test
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

test
  .github/actions/templates/validateModuleDeployment/action.yml
  global.variables.yml
Due: none

fix
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

test
  global.variables.yml
Due: none

Set secure defaults & overide
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

commentedpolicyassignment
  .github/workflows/platform.dependencies.yml
Due: none

updated param trustedServiceAccessEnabled
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
Due: none

Changed network acls + added test case
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Small adjustment
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: none

Fixed broken param trustedServiceAccessEnabled
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
Due: none

Updated param & readme
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

removed comma
  arm/Microsoft.Web/sites/.parameters/wa.min.parameters.json
Due: none

Updated param & readme
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/.parameters/speech.parameters.json
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: none

removed comma (#1517)
  arm/Microsoft.Web/sites/.parameters/wa.min.parameters.json
Due: none

New module Microsoft.DataProtection.Backupvaults added (#1496)
  .azuredevops/modulePipelines/ms.dataprotection.backupvaults.yml
  .github/workflows/ms.dataprotection.backupvaults.yml
  arm/Microsoft.DataProtection/backupVaults/.bicep/nested_rbac.bicep
  arm/Microsoft.DataProtection/backupVaults/.parameters/min.parameters.json
  arm/Microsoft.DataProtection/backupVaults/.parameters/parameters.json
  arm/Microsoft.DataProtection/backupVaults/backupPolicies/deploy.bicep
  arm/Microsoft.DataProtection/backupVaults/backupPolicies/readme.md
  arm/Microsoft.DataProtection/backupVaults/backupPolicies/version.json
  arm/Microsoft.DataProtection/backupVaults/deploy.bicep
  arm/Microsoft.DataProtection/backupVaults/readme.md
  arm/Microsoft.DataProtection/backupVaults/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

UPdated deployment files
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Extended env logic
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Cleanup
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Added output to pester task for testing
  .github/actions/templates/validateModulePester/action.yml
Due: none

Updated for networkRuleSets object param & readme updates
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

removed unused param from param file
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
Due: none

Updated param description
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added output
  .github/actions/templates/validateModulePester/action.yml
Due: none

Modify profile
  .github/actions/templates/validateModulePester/action.yml
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Added profile creation
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Added file output
  .github/actions/templates/validateModulePester/action.yml
Due: none

Changed file content
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Smaller update
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Update to latest
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Added profile load
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .github/actions/templates/validateModulePester/action.yml
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

update interoperability
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/Contribution guide.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Getting started.md
  docs/wiki/Interoperability - Bicep to ARM conversion.md
  docs/wiki/Interoperability - Register Azure DevOps Pipelines.md
  docs/wiki/Interoperability.md
  docs/wiki/Known issues.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Bicep configuration file.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The library - Module design.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Minor cleanup
  .azuredevops/pipelineTemplates/jobs.removeTemplateDeployment.yml
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml
