Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Authorization/policyAssignments, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

commit
  arm/Microsoft.RecoveryServices/vaults/.bicep/nested_roleAssignments.bicep
  arm/Microsoft.RecoveryServices/vaults/backupConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupConfig/readme.md
  arm/Microsoft.RecoveryServices/vaults/backupPolicies/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupPolicies/readme.md
  arm/Microsoft.RecoveryServices/vaults/backupStorageConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupStorageConfig/readme.md
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/readme.md
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/version.json
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/readme.md
  arm/Microsoft.RecoveryServices/vaults/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

moduleReadMeSource
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
  utilities/tools/moduleReadMeSource/resourceUsage-roleAssignments.md
  utilities/tools/moduleReadMeSource/resourceUsage-tags.md
  utilities/tools/moduleReadMeSource/resourceUsage-userAssignedIdentities.md
Due: none

Updated BackupConfig
  arm/Microsoft.RecoveryServices/vaults/backupConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupConfig/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

globalvar test
  global.variables.yml
Due: none

small fix activities
  docs/wiki/The context - Logical layers and personas.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Wiki] CARML personas (#1560)
  docs/wiki/Home.md
  docs/wiki/The context - Logical layers and personas.md
  docs/wiki/The context.md
  docs/wiki/media/Personas/ModuleDevelopers.png
  docs/wiki/media/Personas/SolutionConsumers.png
  docs/wiki/media/Personas/SolutionDevelopers.png
  docs/wiki/media/Personas/layers.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated
  arm/Microsoft.RecoveryServices/vaults/backupPolicies/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupPolicies/readme.md
  arm/Microsoft.RecoveryServices/vaults/backupStorageConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupStorageConfig/readme.md
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/readme.md
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/readme.md
  arm/Microsoft.RecoveryServices/vaults/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/readme.md
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated image ref
  docs/wiki/Solution creation.md
  docs/wiki/media/MultiRepoTestFolderStructure.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Modules] Congnitive Services: Set secure defaults (#1483)
  .azuredevops/modulePipelines/ms.cognitiveservices.accounts.yml
  arm/Microsoft.CognitiveServices/accounts/.parameters/encr.parameters.json
  arm/Microsoft.CognitiveServices/accounts/.parameters/min.parameters.json
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/.parameters/speech.parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Modules] Refreshed Cognitive-Services ReadMe
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: none

Renamed function
  utilities/tools/Get-FormattedGitHubRelease.ps1
Due: none

fix(mongodb): Added thoughput ternary to collections
  arm/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/collections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.DocumentDB/databaseAccounts/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

sidebar and contribution update
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/_Sidebar.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added Format-Release function (#1569)
  utilities/tools/Get-FormattedGitHubRelease.ps1
Due: none

devops update
  docs/wiki/Fetching latest changes - Scenario 1 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

updated local code
  docs/wiki/Fetching latest changes - Scenario 1 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

indent
  docs/wiki/Fetching latest changes - Scenario 1 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

github private repo
  docs/wiki/Fetching latest changes - Scenario 1 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

link removed
  docs/wiki/Fetching latest changes - Scenario 1 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

title categories
  docs/wiki/Contribution guide - Contribution flow.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Wiki] Sidebar and contribution flow update (#1573)
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/_Sidebar.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

remove duplicate
  docs/wiki/Contribution guide - Contribution flow.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

remove duplicate (#1574)
  docs/wiki/Contribution guide - Contribution flow.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Undid further changes
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  arm/.global/global.module.tests.ps1
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The library - Module design.md
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
  utilities/pipelines/resourceRemoval/helper/Get-DependencyResourceNameList.ps1
  utilities/pipelines/sharedScripts/Get-DeploymentTestFileList.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Test-NamePrefixAvailability.ps1
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

Update to latest
  arm/Microsoft.AAD/DomainServices/.bicep/nested_roleAssignments.bicep
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
  arm/Microsoft.AAD/DomainServices/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  constructs/Microsoft.Compute/virtualMachinesMultiple/.parameters/linux.prefix.parameter.json
Due: none

Update to latest
  constructs/Microsoft.Compute/virtualMachinesMultiple/.deploymentTests/linux.prefix.parameter.json
  constructs/Microsoft.Compute/virtualMachinesMultiple/.parameters/linux.vmnames.parameter.json
Due: none

Update to latest
  .github/workflows/ms.dataprotection.backupvaults.yml
Due: none

Update ms.dataprotection.backupvaults.yml
  .github/workflows/ms.dataprotection.backupvaults.yml
Due: none

Minor refactoring
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Small adjustments
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/default.bicep
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/max.bicep
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/min.bicep
  utilities/pipelines/sharedScripts/Get-DeploymentTestFileList.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Small adjustments
  .github/actions/templates/getParameterFiles/action.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Update to latest
  .github/actions/templates/getParameterFiles/action.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none
