Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Undid unintended change
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Apply suggestions from Marius code review
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Modules] Implemented CMK for Storage Account (#1431)
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml
  arm/Microsoft.Storage/storageAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

extended example
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

[CI environment] Cleanup outdated custom removal logic for VWan (#1491)
  docs/wiki/The CI environment - Deployment validation.md
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Modules] Formatted Automation Account parameter files (#1485)
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

Apply suggestions from Marius code review
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  arm/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
Due: none

Update arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: none

Update arm/Microsoft.CognitiveServices/accounts/readme.md
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: none

[Utilities] Replace space with %20 in the ADO projectname. (#1478)
  utilities/tools/Set-ReadMeModuleTable.ps1
Due: none

Update arm/.global/global.module.tests.ps1
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Centralzied exception messages
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Updated readme
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

[GitHub, CI] Update GitHub Workflows to use Azure/PowerShell action (#1451)
  .github/actions/templates/publishModule/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
  .github/workflows/platform.dependencies.yml
Due: none

Minor update
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Undid sa change
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

Removed custom removal. Merged latest main
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

[Pipelines] Added removal for registrationDefinitions (#1479)
  .azuredevops/modulePipelines/ms.managedservices.registrationdefinitions.yml
  .github/workflows/ms.managedservices.registrationdefinitions.yml
Due: none

update module cr
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/linkedServices/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

readme update
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

cleanup
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_linkedService.bicep
Due: none

Updated readme.md with additional details.
  arm/Microsoft.DataProtection/backupVaults/backupPolicies/deploy.bicep
  arm/Microsoft.DataProtection/backupVaults/backupPolicies/readme.md
  arm/Microsoft.DataProtection/backupVaults/deploy.bicep
  arm/Microsoft.DataProtection/backupVaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Modules] Cross referencing linkedServices module in automationAccount (#1494)
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_linkedService.bicep
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.OperationalInsights/workspaces/linkedServices/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated docs
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Testing] Reworked tests to not use HTML & shared functions (#1462)
  arm/.global/global.module.tests.ps1
  arm/.global/shared/helper.psm1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

add persona text from strategy docx
  docs/wiki/Personas.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

update the library & CI environment chapters
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 2 Consume library.md
  docs/wiki/Interoperability - Bicep to ARM conversion.md
  docs/wiki/Interoperability - Register Azure DevOps Pipelines.md
  docs/wiki/Known issues.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Bicep configuration file.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The library - Module design.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update arm/Microsoft.DataProtection/backupVaults/readme.md
  arm/Microsoft.DataProtection/backupVaults/readme.md
Due: none

Update arm/Microsoft.DataProtection/backupVaults/.parameters/parameters.json
  arm/Microsoft.DataProtection/backupVaults/.parameters/parameters.json
Due: none

Update docs/wiki/The library - Module design.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
