Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - Policyassignments
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
      parameters:
        deploymentBlocks:
        - path: $(modulePath)/.parameters/allowedLocations.parameters.json
  ...

.azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml:
  name: Network - VirtualNetworkGateways
  stages:
  - stage: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.resources.resourcegroups.yml:
  name: Resources - ResourceGroups
  stages:
  - stage: Validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
      parameters:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/platformPipelines/platform.wiki-sync.yml:
  name: '.Platform: Sync Docs/Wiki'
  jobs:
  - job: Update_module_tables
    pool:
      ${{ if ne('$(vmImage)', '') }}:
        vmImage: $(vmImage)
      ${{ if ne('$(poolName)', '') }}:
        name: $(poolName)
    steps:
    - checkout: self
      displayName: Checkout Source Repo
      persistCredentials: true
  ...

Updated key vault with security recommendations
  arm/Microsoft.KeyVault/vaults/keys/readme.md
  arm/Microsoft.KeyVault/vaults/secrets/readme.md
Due: none

upodated key vault with security recommendations
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
  arm/Microsoft.KeyVault/vaults/readme.md
Due: none

sq brac
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

stageDependencies
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

sq brac 1 pair
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

sq brac 1 pair quotes
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

sq brac 1 pair quotes escape
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

sq brac 1 pair 2 quotes escape
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Update arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
Due: none

write verbose single quote
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

single quote param
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

single quote param var
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

OtherCustomParameterFileTokens
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

OtherCustomParameterFileTokens in second stage
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

cleanup
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

cleanup template
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

all jobs using msi id
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

comment not used stages
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

gh alternative
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/workflows/platform.dependencies.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

gh alternative all
  .github/workflows/platform.dependencies.yml
Due: none

gh dep all back
  .github/workflows/platform.dependencies.yml
Due: none

ado dep all back
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

ado dep all back cleanup
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Removed testing deployment configuration
  .github/workflows/ms.synapse.workspaces.yml
Due: none

update PIP
  arm/Microsoft.Network/publicIPAddresses/deploy.bicep
  arm/Microsoft.Network/publicIPAddresses/readme.md
Due: none

update FW
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

add zones parameter to test
  arm/Microsoft.Network/publicIPAddresses/.parameters/parameters.json
Due: none

change name
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

update PIP (#898)
  arm/Microsoft.Network/publicIPAddresses/.parameters/parameters.json
  arm/Microsoft.Network/publicIPAddresses/deploy.bicep
  arm/Microsoft.Network/publicIPAddresses/readme.md
Due: none

Update arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_publicIPAddress.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_publicIPAddress.bicep
Due: none

update FW
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

Removed unused code blocks
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Fixed Linter issues
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Updated README
  arm/Microsoft.Synapse/workspaces/readme.md
Due: none

Added support for Encryption Key Vault with Access Policies
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Update arm/Microsoft.KeyVault/vaults/secrets/readme.md
  arm/Microsoft.KeyVault/vaults/secrets/readme.md
Due: none

Update arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
