Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Authorization/policyAssignments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Network/virtualNetworkGateways, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml: any of: .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/hostingEnvironments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.sites.yml: any of: .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/sites, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Added trigger to arm convertion test
  .github/workflows/platform.convertToArmTemplate.tests.yml
Due: none

Adjusted pester
  modules/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml

fix: Applied suggestions from code review
  arm/Microsoft.SignalRService/webPubSub/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed in readme function
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

fix(webpubsub): Integrated multiple review feedback
  arm/Microsoft.SignalRService/webPubSub/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Re-added deleted template
  modules/Microsoft.DataProtection/backupVaults/.bicep/nested_roleAssignments.bicep
Due: none

feat(webpubsub): Added json based test parameters
  arm/Microsoft.SignalRService/webPubSub/.parameters/full.parameters.json
  arm/Microsoft.SignalRService/webPubSub/.parameters/min.parameters.json
Due: none

ci(webpubsub): Added devops and github workflow definitions
  .azuredevops/modulePipelines/ms.signalrservice.webpubsub.yml
  .github/workflows/ms.signalrservice.webpubsub.yml
Due: none

Update docs/wiki/Contribution guide - Validate module on scale.md
  docs/wiki/Contribution guide - Validate module on scale.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Improved runtime
  utilities/tools/Invoke-PipelinesForBranch.ps1
Due: none

[Utilities] Added utility to bulk-run pipelines for a given branch (#1609)
  .github/actions/templates/getWorkflowInput/action.yml
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/Contribution guide - Validate module on scale.md
  docs/wiki/Contribution guide.md
  utilities/pipelines/sharedScripts/Get-GitHubWorkflowDefaultInput.ps1
  utilities/tools/Invoke-PipelinesForBranch.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated DevOps Registration
  utilities/tools/AzureDevOps/Register-AzureDevOpsPipeline.ps1
Due: none

Added trigger
  .github/workflows/platform.wiki-sync.yml
Due: none

Added missing ref
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed pipeline reference
  .azuredevops/modulePipelines/ms.network.firewallpolicies.yml
Due: none

Fixed pipeline title
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml
Due: none

Fixed another typo
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
Due: none

Fixed another typo
  .azuredevops/modulePipelines/ms.network.vpngateways.yml
Due: none

Fixed casing
  .azuredevops/modulePipelines/ms.network.firewallpolicies.yml
Due: none

Fixed service fabric pipeline reference
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml
Due: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml

[Modules] MongoDB: Removed throughput if database is deployed serverless (#1571) (#1594)
  arm/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/collections/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated implementation (#1591)
  arm/Microsoft.Compute/diskEncryptionSets/.parameters/parameters.json
  arm/Microsoft.Compute/diskEncryptionSets/deploy.bicep
  arm/Microsoft.Compute/diskEncryptionSets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Further renames
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The library - Module design.md
  modules/.global/global.module.tests.ps1
  utilities/pipelines/sharedScripts/Get-ModuleParameterFiles.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Due: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated parameter fetch function
  .github/actions/templates/getParameterFiles/action.yml
  utilities/pipelines/sharedScripts/Get-DeploymentTestFileList.ps1
  utilities/pipelines/sharedScripts/Get-ModuleParameterFiles.ps1
Due: none

Updated docs
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Further rename
  modules/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml

Add private endpoint param and capability to RSV module.
  .github/workflows/ms.recoveryservices.vaults.yml
  arm/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update readme of RSV.
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Update PE service for RSV and readme.
  arm/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Update PE service for RSV.
  arm/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Update RSV bicep.
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Set systemAssignedIdentity to false.
  arm/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Update identityType var, readme and switch systemAssignedIdentity to true.
  arm/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update RSV API and readme.
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Remove PE for testing and update readme.
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
