Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: dummyTest
    displayName: Dummy test
    jobs:
    - job: null
      displayName: Run global tests
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        displayName: Setup agent
        inputs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.automation.automationaccounts.yml:
  name: Automation - AutomationAccounts
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachines.yml:
  name: Compute - VirtualMachines
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml:
  name: Compute - VirtualMachineScaleSets
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

Removed RBAC test
  arm/Microsoft.Management/managementGroups/.parameters/parameters.json
  arm/Microsoft.Management/managementGroups/readme.md
Due: none

cr
  global.variables.yml
Due: none

Removed RBAC from Mgmt-Group module (#1542)
  arm/Microsoft.Management/managementGroups/.bicep/nested_roleAssignments.bicep
  arm/Microsoft.Management/managementGroups/.parameters/parameters.json
  arm/Microsoft.Management/managementGroups/deploy.bicep
  arm/Microsoft.Management/managementGroups/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

version
  arm/Microsoft.ContainerRegistry/registries/version.json
Due: none

update known issues
  docs/wiki/Known issues.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

update known issues val
  docs/wiki/Known issues.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

versionincrease
  arm/Microsoft.ContainerRegistry/registries/version.json
Due: none

[Wiki] Management Group module known issues (#1544)
  docs/wiki/Known issues.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Minor update to param example in networkAcls. (#1540)
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

testrg02
  arm/Microsoft.Authorization/locks/.parameters/rg.parameters.json
Due: none

test from rg module
  arm/Microsoft.Resources/resourceGroups/deploy.bicep
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

publish
  arm/Microsoft.Authorization/locks/.parameters/rg.parameters.json
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/resourceGroup/deploy.bicep
  global.variables.yml
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

validation
  .github/workflows/ms.authorization.locks.yml
  arm/Microsoft.Authorization/locks/readme.md
  arm/Microsoft.Authorization/locks/resourceGroup/readme.md
Due: none

validation new line
  arm/Microsoft.Authorization/locks/readme.md
  arm/Microsoft.Authorization/locks/resourceGroup/readme.md
Due: none

ado
  .azuredevops/modulePipelines/ms.authorization.locks.yml
Due: none

scope
  arm/Microsoft.Authorization/locks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

location
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update lock name
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/resourceGroup/version.json
  arm/Microsoft.Resources/resourceGroups/.bicep/nested_lock.bicep
  arm/Microsoft.Resources/resourceGroups/deploy.bicep
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

carml
  global.variables.yml
  settings.json
Due: none

test cross referencing kv access policies
  arm/Microsoft.Compute/diskEncryptionSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

cleanup
  arm/Microsoft.Compute/diskEncryptionSets/.bicep/nested_kvAccessPolicy.bicep
  arm/Microsoft.Compute/diskEncryptionSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test cross referencing pip
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

remove nested files
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress_rbac.bicep
Due: none

cleanup and format doc
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

lock rg dependencies
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Authorization/locks/.parameters/rg.parameters.json
  global.variables.yml
  settings.json
  utilities/pipelines/dependencies/Microsoft.Resources/resourceGroups/parameters/locks.parameters.json
Due: none

lock rg dependencies in pipeline
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Authorization/locks/readme.md
Due: none

[Modules] Azure Firewall cross referencing PIP (#1549)
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress_rbac.bicep
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Modules] Disk Encryption Sets cross referencing KV access policies (#1548)
  arm/Microsoft.Compute/diskEncryptionSets/.bicep/nested_kvAccessPolicy.bicep
  arm/Microsoft.Compute/diskEncryptionSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update readme and remove var
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/keyValues/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/keyValues/readme.md
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update name prefix
  settings.json
Due: none

revert namePrefix back to carml
  settings.json
Due: none

updated global modules test
  arm/.global/global.module.tests.ps1
  global.variables.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

[Modules] Container registry updated default value (#1537)
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

regenerate readme
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: none

revert not working encryption
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

First major test
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
  arm/.global/global.module.tests.ps1
  settings.json
  utilities/tools/Test-ModuleLocally.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

test
  global.variables.yml
Due: none

fixed global variable path
  .github/actions/templates/validateModulePester/action.yml
Due: none

fix
  .github/actions/templates/validateModulePester/action.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Authorization/policyAssignments, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
