Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - template: /.azuredevops/pipelineTemplates/stages.module.yml
    parameters:
      removeDeployment: ${{ parameters.removeDeployment }}
      prerelease: ${{ parameters.prerelease }}
      templateFilePath: $(modulePath)/deploy.bicep

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.automation.automationaccounts.yml:
  name: Automation - AutomationAccounts
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.disks.yml:
  name: Compute - Disks
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachines.yml:
  name: Compute - VirtualMachines
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml:
  name: Compute - VirtualMachineScaleSets
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

Update to latest
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Adjusted cmd order
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Cleanup
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Updated removal condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

update scale settings
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.parameters.json
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

Small path fix
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Added todo
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

added azure devops pipeline changes
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
Due: none

Minor output update
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

add appparameters
  arm/Microsoft.Batch/batchAccounts/.parameters/application.parameters.json
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.parameters.json
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

update app param
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
  arm/Microsoft.Batch/batchAccounts/.parameters/app.parameters.json
Due: none

feat(gremlin-databases): Added tests and small bugfixes
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/.test/deploy.full.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/.test/deploy.minimal.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/.test/deploy.full.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/.test/deploy.minimal.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

feat(webpubsub): Updated folders, added tests, updated readme
  arm/Microsoft.SignalRService/webPubSub/.bicep/nested_rbac.bicep
  arm/Microsoft.SignalRService/webPubSub/.test/deploy.full.test.bicep
  arm/Microsoft.SignalRService/webPubSub/.test/deploy.minimal.test.bicep
  arm/Microsoft.SignalRService/webPubSub/deploy.bicep
  arm/Microsoft.SignalRService/webPubSub/readme.md
  arm/Microsoft.SignalRService/webPubSub/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

feat(webpubsub): Added nested rbac
  arm/Microsoft.SignalRService/webPubSub/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

feat(redis-cache): Added Redis cache module
  arm/Microsoft.Cache/redis/.bicep/nested_rbac.bicep
  arm/Microsoft.Cache/redis/.test/deploy.full.test.bicep
  arm/Microsoft.Cache/redis/.test/deploy.minimal.test.bicep
  arm/Microsoft.Cache/redis/deploy.bicep
  arm/Microsoft.Cache/redis/readme.md
  arm/Microsoft.Cache/redis/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

feat(redis-cache): Cleaned up branch history
  arm/Microsoft.SignalRService/webPubSub/.bicep/nested_rbac.bicep
  arm/Microsoft.SignalRService/webPubSub/.test/deploy.full.test.bicep
  arm/Microsoft.SignalRService/webPubSub/.test/deploy.minimal.test.bicep
  arm/Microsoft.SignalRService/webPubSub/deploy.bicep
  arm/Microsoft.SignalRService/webPubSub/readme.md
  arm/Microsoft.SignalRService/webPubSub/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated cmk implementation
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

bug fix in kv tokens input
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Updated par + added property
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update app param
  arm/Microsoft.Batch/batchAccounts/.parameters/app.parameters.json
Due: none

Upload fix
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updaetd readme
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: none

scenario 1 and 2 reverted
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

home update
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added optional key version
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added encryption & private endpoints to Datafactory
  arm/Microsoft.DataFactory/factories/.parameters/parameters.json
  arm/Microsoft.DataFactory/factories/deploy.bicep
  arm/Microsoft.DataFactory/factories/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Revert of DF implementation
  arm/Microsoft.DataFactory/factories/.parameters/parameters.json
  arm/Microsoft.DataFactory/factories/deploy.bicep
  arm/Microsoft.DataFactory/factories/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated groupID
  arm/Microsoft.DataFactory/factories/.parameters/parameters.json
  arm/Microsoft.DataFactory/factories/readme.md
Due: none

Added public endpoint handling
  arm/Microsoft.DataFactory/factories/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Resolved conflicts
  arm/Microsoft.DataFactory/factories/deploy.bicep
  arm/Microsoft.DataFactory/factories/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated docs
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

impact of changes
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added encryption capabilities
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Cleanup
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

main page of updates
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated docs
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added missing dot
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added service bus removal case handling
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

fetching process
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Authorization/policyAssignments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Network/virtualNetworkGateways, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml: any of: .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/hostingEnvironments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.sites.yml: any of: .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/sites, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
