Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Merge latest draft with pipeline update script
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  utilities/tools/New-DependenciesFile.ps1
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Update to latest
  utilities/tools/New-DependenciesFile.ps1
Due: none

Fixed ramining dev Ops pipeline issues
  utilities/tools/New-DependenciesFile.ps1
Due: none

Adapated pipeline param
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml
Due: none

Fixed pipeline formatting
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  utilities/tools/New-DependenciesFile.ps1
Due: none

Minor fix to allow canceling removal task
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Further condition update
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Try to map to deploymentblock rg
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Added missing bracket
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Added missing removal condition to avoid uncancelable pipeline
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Fixed file ref
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Create new workflow for deploying Synapse Private Link Hub
  .github/workflows/ms.synapse.privatelinkhubs.yml
  arm/Microsoft.Synapse/.bicep/nested_cuaId.bicep
  arm/Microsoft.Synapse/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Synapse/readme.md
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/readme.md
Due: none

Added missing condition
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Added support for Locks, RBAC and Private Endpoints
  arm/Microsoft.Synapse/privateLinkHubs/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Synapse/privateLinkHubs/.bicep/nested_rbac.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
Due: none

Updated ReadMe file
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
Due: none

Fixed outputs & updated ReadMe
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
Due: none

Added an additional note to the wiki
  docs/wiki/TestingDesign.md
  utilities/pipelines/dependencies/Microsoft.Authorization/roleAssignments/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Moved RG to back of removal as soft-deletes will cause issues
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

Minor fix of token replacement
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Update to latest
  docs/wiki/TestingDesign.md
  utilities/pipelines/dependencies/Microsoft.RecoveryServices/vaults/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added missing removal condition to avoid uncancelable pipeline (#854)
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml

Switched back to main branch
  .github/workflows/ms.synapse.privatelinkhubs.yml
Due: none

Update arm/Microsoft.Synapse/privateLinkHubs/.bicep/nested_rbac.bicep
  arm/Microsoft.Synapse/privateLinkHubs/.bicep/nested_rbac.bicep
Due: none

Update arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
Due: none

Update arm/Microsoft.Synapse/privateLinkHubs/readme.md
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
Due: none
