Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Authorization/policyAssignments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Authorization/policyDefinitions, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml: any of: .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.DocumentDB/databaseAccounts, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Network/virtualNetworkGateways, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml: any of: .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/hostingEnvironments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.sites.yml: any of: .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/sites, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Update docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

temp move
  .deploymentTests/default.bicep
  .deploymentTests/max.bicep
  .deploymentTests/min.bicep
  .deploymentTests/nestedTemplates/default.nested.bicep
  .deploymentTests/nestedTemplates/max.parameters.nested.bicep
Due: none

Update Fetching latest updates.md
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Resolved conflicts
  .github/actions/templates/validateModuleDeployment/action.yml
  README.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  utilities/tools/Test-ModuleLocally.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Add userAssignedIdentities and update readme.
  modules/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  modules/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Resolved conflict
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Adjusted verbosity
  utilities/tools/Invoke-PipelinesForBranch.ps1
Due: none

Remove user assigned identities.
  modules/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  modules/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Remove AzureBackup PE and update readme.
  modules/Microsoft.RecoveryServices/vaults/.parameters/parameters.json
  modules/Microsoft.RecoveryServices/vaults/readme.md
Due: none

Added function for later use
  utilities/tools/Clear-ManagementGroupDeployment.ps1
  utilities/tools/helper/Split-Array.ps1
Due: none

Undo non PE related changes.
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  settings.json
Due: none

[Modules] AKS: Updated secure defaults (#1593)
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  docs/wiki/The CI environment - Pipeline design.md
  modules/Microsoft.ContainerService/managedClusters/.parameters/azure.parameters.json
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
  utilities/pipelines/dependencies/Microsoft.Compute/diskEncryptionSets/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Misc] Add automatic assignment to Pull-Requests (#1619)
  .github/platform.auto-assign-PR.configuration.yml
  .github/workflows/platform.autoassign.yml
Due: none

Adjusted verbosity
  utilities/pipelines/sharedScripts/Get-GitHubWorkflowDefaultInput.ps1
  utilities/tools/Invoke-PipelinesForBranch.ps1
Due: none

Fixed format
  modules/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml

Cleanup param files
  modules/Microsoft.ContainerService/managedClusters/.parameters/azure.parameters.json
  modules/Microsoft.ContainerService/managedClusters/.parameters/kubenet.parameters.json
  modules/Microsoft.ContainerService/managedClusters/.test/azure.parameters.json
  modules/Microsoft.Sql/servers/.parameters/admin.parameters.json
  modules/Microsoft.Sql/servers/.parameters/parameters.json
  modules/Microsoft.Sql/servers/.test/parameters.json
Due: none

Update to latest
  constructs/Microsoft.Authorization/roleAssignments-multiRolesMultiPrincipals/.test/parameters.json
  constructs/Microsoft.Compute/virtualMachinesMultiple/.test/linux.prefix.parameter.json
  constructs/Microsoft.Compute/virtualMachinesMultiple/.test/linux.vmnames.parameter.json
  constructs/Microsoft.Management/managementGroup-structure/.test/parameters.json
  constructs/Microsoft.Network/virtualNetwork/virtualNetworkPeerings-multiRemoteVnets/.test/parameters.json
Due: none

Renamed script
  .github/actions/templates/getParameterFiles/action.yml
  utilities/pipelines/sharedScripts/Get-ModuleParameterFiles.ps1
  utilities/pipelines/sharedScripts/Get-ModuleTestFileList.ps1
Due: none

Updated naming
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

Minor update
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

Updated global tests
  modules/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml
