Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: dummyTest
    displayName: Dummy test
    jobs:
    - job: null
      displayName: Run global tests
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        displayName: Setup agent
        inputs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.automation.automationaccounts.yml:
  name: Automation - AutomationAccounts
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachines.yml:
  name: Compute - VirtualMachines
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml:
  name: Compute - VirtualMachineScaleSets
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

updated readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: none

rke
  .azuredevops/modulePipelines/ms.operationsmanagement.solutions.yml
  arm/Microsoft.OperationsManagement/solutions/.parameters/ms.parameters.json
  settings.json
Due: none

acr
  global.variables.yml
Due: none

readme
  arm/Microsoft.OperationsManagement/solutions/readme.md
Due: none

Update to latest
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

carml
  global.variables.yml
  settings.json
Due: none

moduleFolderPath
  .github/workflows/ms.analysisservices.servers.yml
  global.variables.yml
Due: none

[CI Environment] Extend agent setup to be more robust (#1522)
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

Simplified command
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

vars
  .github/workflows/ms.analysisservices.servers.yml
Due: none

pester only
  .github/workflows/ms.analysisservices.servers.yml
Due: none

first draft sync
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

removed scenario
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

falseparameter
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
Due: none

Added first draft for CMK + minor fixes
  .azuredevops/modulePipelines/ms.containerinstance.containergroups.yml
  arm/Microsoft.ContainerInstance/containerGroups/.parameters/encr.parameters.json
  arm/Microsoft.ContainerInstance/containerGroups/deploy.bicep
  arm/Microsoft.ContainerInstance/containerGroups/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

false
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
Due: none

removeavd
  .github/workflows/platform.dependencies.yml
Due: none

temp spec
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

temp spec and solution update
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Included the backupvault module.
  .azuredevops/modulePipelines/ms.dataprotection.backupvaults.yml
Due: none

update contribution guide, getting started, CI env, solution creation, known issues, module design, upgrade documents
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Getting started - Scenario 2 Consume library.md
  docs/wiki/Getting started - Scenario 3 Contribute.md
  docs/wiki/Known issues.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The library - Module design.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[CI Environment] Fixed lock removal + added error handling in case no deployment resource if found (#1515)
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Due: none

Updated readme
  arm/Microsoft.Web/sites/readme.md
Due: none

bicep registry
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Key Values for app config stores
  arm/Microsoft.AppConfiguration/configurationStores/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/keyValues/.bicep/nested_rbac.bicep
  arm/Microsoft.AppConfiguration/configurationStores/keyValues/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/keyValues/readme.md
  arm/Microsoft.AppConfiguration/configurationStores/keyValues/version.json
  settings.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update personas article
  docs/wiki/Logical Layers and Personas.md
  docs/wiki/Personas.md
  docs/wiki/media/Personas/layers.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Modules] Create solutions module and cross reference in workspace and automation account (#1511)
  .azuredevops/modulePipelines/ms.operationsmanagement.solutions.yml
  .github/workflows/ms.operationsmanagement.solutions.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_solution.bicep
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.OperationalInsights/workspaces/.bicep/nested_solutions.bicep
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/readme.md
  arm/Microsoft.OperationsManagement/solutions/.parameters/min.parameters.json
  arm/Microsoft.OperationsManagement/solutions/.parameters/ms.parameters.json
  arm/Microsoft.OperationsManagement/solutions/.parameters/nonms.parameters.json
  arm/Microsoft.OperationsManagement/solutions/deploy.bicep
  arm/Microsoft.OperationsManagement/solutions/readme.md
  arm/Microsoft.OperationsManagement/solutions/version.json
  utilities/pipelines/dependencies/Microsoft.OperationalInsights/workspaces/parameters/sol.parameters.json
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

norestore
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

readme update
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

solution dep law
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

workflow permissions
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Add files via upload
  docs/wiki/media/SetupEnvironment/workflow_permissions.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

update var
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update namePrefix
  settings.json
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Authorization/policyAssignments, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
