Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: dummyTest
    displayName: Dummy test
    jobs:
    - job: null
      displayName: Run global tests
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        displayName: Setup agent
        inputs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.automation.automationaccounts.yml:
  name: Automation - AutomationAccounts
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachines.yml:
  name: Compute - VirtualMachines
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml:
  name: Compute - VirtualMachineScaleSets
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

ado
  .azuredevops/modulePipelines/ms.operationsmanagement.solutions.yml
Due: none

update output + cleanup
  arm/.global/global.module.tests.ps1
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

[Testing] Fixed incorrect API test reference & env-value propagation (#1508)
  arm/.global/global.module.tests.ps1
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

enable pester
  .github/workflows/ms.automation.automationaccounts.yml
  .github/workflows/ms.operationalinsights.workspaces.yml
  .github/workflows/ms.operationsmanagement.solutions.yml
Due: none

fix static val location
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_solution.bicep
  arm/Microsoft.OperationalInsights/workspaces/.bicep/nested_solutions.bicep
  arm/Microsoft.OperationsManagement/solutions/.parameters/min.parameters.json
  arm/Microsoft.OperationsManagement/solutions/deploy.bicep
  arm/Microsoft.OperationsManagement/solutions/readme.md
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

carml tokens
  arm/Microsoft.OperationsManagement/solutions/deploy.bicep
  global.variables.yml
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix input
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed pipeline name parsing in Register-AzureDevOpsPipeline.ps1
  utilities/tools/AzureDevOps/Register-AzureDevOpsPipeline.ps1
Due: none

rke
  settings.json
Due: none

carml
  settings.json
Due: none

disabling telemetry
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
  settings.json
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

disable telemetry on cross referenced resources
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/staticSites/deploy.bicep
  docs/wiki/The library - Module design.md
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

gallery param
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml

telemetry
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  settings.json
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

readme note
  arm/Microsoft.OperationalInsights/workspaces/readme.md
Due: none

Fixed pipeline name parsing in Register-AzureDevOpsPipeline.ps1 (#1509)
  utilities/tools/AzureDevOps/Register-AzureDevOpsPipeline.ps1
Due: none

enableReferencedModulesTelemetry
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

ado pipeline trigger
  .azuredevops/modulePipelines/ms.operationsmanagement.solutions.yml
Due: none

ado pipeline min par
  .azuredevops/modulePipelines/ms.operationsmanagement.solutions.yml
Due: none

third party
  arm/Microsoft.OperationsManagement/solutions/deploy.bicep
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

third party param
  arm/Microsoft.OperationsManagement/solutions/.parameters/test.parameters.json
Due: none

disable test
  .github/workflows/ms.operationsmanagement.solutions.yml
Due: none

Added explicit lock handling
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Disabled pester
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.parameters/min.parameters.dis.json
Due: none

test third party
  .azuredevops/modulePipelines/ms.operationsmanagement.solutions.yml
  .github/workflows/ms.operationsmanagement.solutions.yml
  arm/Microsoft.OperationsManagement/solutions/.parameters/nonms.parameters.json
  arm/Microsoft.OperationsManagement/solutions/deploy.bicep
  arm/Microsoft.OperationsManagement/solutions/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

small update
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Due: none

workspace readme
  arm/Microsoft.OperationalInsights/workspaces/readme.md
Due: none

Added sleep
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Update to latest
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Undid temp changes
  .github/workflows/ms.web.staticsites.yml
  arm/Microsoft.Web/staticSites/.parameters/min.parameters.json
Due: none

Extended wait period
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

updated naming convention
  global.variables.yml
  settings.json
Due: none

[Testing] Extended Pester test output (#1486)
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

test
  .github/actions/templates/validateModuleDeployment/action.yml
  global.variables.yml
Due: none

Moved parameter usage text under heading.
  arm/Microsoft.DataProtection/backupVaults/readme.md
Due: none

test
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Authorization/policyAssignments, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
