Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Authorization/policyAssignments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Network/virtualNetworkGateways, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml: any of: .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/hostingEnvironments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.sites.yml: any of: .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/sites, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Update to latest
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Step rename
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Fixed dependencies
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/default.bicep
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/min.bicep
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/nestedTemplates/default.nested.bicep
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

test with no policies
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Small fix
  arm/.global/dependencyConstructs/diagnostic.dependencies.bicep
Due: none

Minor test adjustments
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

add param file
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.parameters.json
Due: none

Small test update
  arm/.global/global.module.tests.ps1
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/max.json
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Cleanup
  arm/Microsoft.AnalysisServices/servers/.deploymentTests/max.json
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

added indexingPolicy
  arm/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added to params
  arm/Microsoft.DocumentDB/databaseAccounts/.parameters/sqldb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readme.md
Due: none

fixes
  arm/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readme.md
Due: none

Further updates
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Restore settings.json
  settings.json
Due: none

Restore global.variables.yml
  global.variables.yml
Due: none

remove trigger all pipeline file
  utilities/pipelines/triggerAllPipelines
Due: none

restore Upgrade doc
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

update pool param
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.min.parameters.json
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.parameters.json
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Several updates
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .azuredevops/pipelineTemplates/jobs.getParameterFiles.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
  .github/actions/templates/getParameterFiles/action.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

update readme
  arm/Microsoft.Batch/batchAccounts/pools/readme.md
Due: none

DevOps adjustment
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Disabled pester tests
  .azuredevops/pipelineTemplates/stages.module.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Update to latest
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Minor update
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Adjusted indent
  .azuredevops/pipelineTemplates/jobs.getParameterFiles.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Added path
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Added name prefix
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

aate readme
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

typo
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.parameters.json
Due: none

updated readme
  arm/Microsoft.DocumentDB/databaseAccounts/readme.md
Due: none

update readme
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

metadata
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.parameters.json
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

update param
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.parameters.json
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

Added az workaround
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Shortened title
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml
