Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Updated process for MSI encryption
  arm/Microsoft.Synapse/workspaces/.parameters/encryptionwsai.parameters.json
  arm/Microsoft.Synapse/workspaces/.parameters/encryptionwuai.parameters.json
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/keys/.bicep/nested_cuaId.bicep
  arm/Microsoft.Synapse/workspaces/keys/deploy.bicep
  arm/Microsoft.Synapse/workspaces/keys/readme.md
  arm/Microsoft.Synapse/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

custom token print
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Fixed Pester errors
  arm/Microsoft.Synapse/workspaces/keys/deploy.bicep
  arm/Microsoft.Synapse/workspaces/keys/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

customParameterFileTokens
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

customParameterFileTokens deploymentBlock
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

customParameterFileTokens deploymentBlock print
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

msi prin id print
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Fixed deployment errors
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Update to latest
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_configurationProfileAssignment.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_publicIPAddress.bicep
Due: none

msi prin id print var job
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

msi prin id print var job quotes
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

test print msi
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Update to latest
  arm/Microsoft.AnalysisServices/servers/.bicep/nested_cuaId.bicep
  arm/Microsoft.AnalysisServices/servers/.parameters/parameters.json
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
Due: none

Deployment fixes
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  arm/Microsoft.Synapse/workspaces/.parameters/encryptionwsai.parameters.json
  arm/Microsoft.Synapse/workspaces/.parameters/encryptionwuai.parameters.json
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Deployment fixes
  arm/Microsoft.Synapse/workspaces/.parameters/basic.parameters.json
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

test print msi in template
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

test print msi in template quotes
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

reset param
  arm/Microsoft.AnalysisServices/servers/.parameters/parameters.json
Due: none

template var
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

template var print double
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

template var print
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Deployment fixes
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Added telemetry id passthru
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  settings.json
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Added parameter to deployment validation
  utilities/pipelines/resourceValidation/Test-TemplateWithParameterFile.ps1
Due: none

template var up
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

template var up escape
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

stage var
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

stage var
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

concat
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

msi stage var
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Slim down the tests
  .github/workflows/ms.synapse.workspaces.yml
Due: none

multiline value
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Deployment fixes 1
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Deployment fixes 2
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml
