Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: dummyTest
    displayName: Dummy test
    jobs:
    - job: null
      displayName: Run global tests
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        displayName: Setup agent
        inputs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.automation.automationaccounts.yml:
  name: Automation - AutomationAccounts
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.disks.yml:
  name: Compute - Disks
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.compute.virtualmachines.yml:
  name: Compute - VirtualMachines
  stages:
  - stage: Validation
    displayName: Static validation
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment validation
    jobs:
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Fixed removal
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

Removed redundant param
  arm/Microsoft.ContainerInstance/containerGroups/deploy.bicep
  arm/Microsoft.ContainerInstance/containerGroups/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

regenerate readme (#1552)
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

virtualmachine to vm symbolicname
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

First draft
  arm/Microsoft.ContainerRegistry/registries/.parameters/encr.parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test
  global.variables.yml
Due: none

restored token
  global.variables.yml
Due: none

subscription lock
  arm/Microsoft.Authorization/locks/subscription/deploy.bicep
  arm/Microsoft.Authorization/locks/subscription/readme.md
  arm/Microsoft.Authorization/locks/subscription/version.json
  global.variables.yml
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

sub locks
  arm/Microsoft.Authorization/locks/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/readme.md
  global.variables.yml
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added missing value
  arm/Microsoft.ContainerRegistry/registries/.parameters/encr.parameters.json
Due: none

no name
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/readme.md
  arm/Microsoft.Authorization/locks/subscription/deploy.bicep
  arm/Microsoft.Authorization/locks/subscription/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

disable sub level lock deployment
  arm/Microsoft.Authorization/locks/.parameters/sub.parameters.json
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Further updates
  arm/Microsoft.ContainerRegistry/registries/.parameters/encr.parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Working version
  arm/Microsoft.ContainerRegistry/registries/.parameters/encr.parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated readme + modified primary test file parameter
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added ado ref
  .azuredevops/modulePipelines/ms.containerregistry.registries.yml
Due: none

Update to latest
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated removal logic
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

enable sub level lock deployment
  arm/Microsoft.Authorization/locks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Modules] Lock module and cross reference from RG (#1547)
  .azuredevops/modulePipelines/ms.authorization.locks.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.authorization.locks.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Authorization/locks/.parameters/rg.parameters.json
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/readme.md
  arm/Microsoft.Authorization/locks/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/locks/resourceGroup/readme.md
  arm/Microsoft.Authorization/locks/resourceGroup/version.json
  arm/Microsoft.Authorization/locks/subscription/deploy.bicep
  arm/Microsoft.Authorization/locks/subscription/readme.md
  arm/Microsoft.Authorization/locks/subscription/version.json
  arm/Microsoft.Authorization/locks/version.json
  arm/Microsoft.Resources/resourceGroups/.bicep/nested_lock.bicep
  arm/Microsoft.Resources/resourceGroups/deploy.bicep
  utilities/pipelines/dependencies/Microsoft.Resources/resourceGroups/parameters/locks.parameters.json
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

fix conflicts
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/Known issues.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

remove .md from links
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide.md
  docs/wiki/Getting started - Scenario 1 Consume library.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/Getting started - Scenario 3 Contribute.md
  docs/wiki/Getting started.md
  docs/wiki/Home.md
  docs/wiki/Interoperability.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The CI environment.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The context - CARML overview.md
  docs/wiki/The context.md
  docs/wiki/The library - Module design.md
  docs/wiki/The library - Module usage.md
  docs/wiki/The library.md
  docs/wiki/_Sidebar.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated metadata
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

lock output scope
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/locks/resourceGroup/readme.md
  arm/Microsoft.Authorization/locks/subscription/deploy.bicep
  arm/Microsoft.Authorization/locks/subscription/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

lock output scope (#1559)
  arm/Microsoft.Authorization/locks/deploy.bicep
  arm/Microsoft.Authorization/locks/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/locks/resourceGroup/readme.md
  arm/Microsoft.Authorization/locks/subscription/deploy.bicep
  arm/Microsoft.Authorization/locks/subscription/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test dependencies with root var
  .github/workflows/platform.dependencies.yml
  global.variables.yml
Due: none

set env var first job
  .github/workflows/platform.dependencies.yml
Due: none

cleanup var dep pipeline
  .github/workflows/platform.dependencies.yml
Due: none

set var all jobs
  .github/workflows/platform.dependencies.yml
Due: none

set var setup agent
  .github/workflows/platform.dependencies.yml
Due: none

dep ado vars
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

updates and fetched
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

update TOC
  docs/wiki/Home.md
  docs/wiki/The context - Logical Layers and Personas.md
  docs/wiki/The context.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

removed dependency on settings for dep pipeline gha
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/workflows/platform.dependencies.yml
  global.variables.yml
Due: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.resources.tags.yml

test
  .github/workflows/platform.dependencies.yml
Due: none

added env. agent
  .github/workflows/platform.dependencies.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Authorization/policyAssignments, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
