Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Update arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
Due: none

Update arm/Microsoft.KeyVault/vaults/keys/readme.md
  arm/Microsoft.KeyVault/vaults/keys/readme.md
Due: none

reformatting outputs readme
  arm/Microsoft.KeyVault/vaults/readme.md
Due: none

Updated params descriptions and readme according to comments
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/keys/deploy.bicep
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.KeyVault/vaults/secrets/deploy.bicep
Due: none

Trigger on branch to test before merge
  .github/workflows/ms.synapse.workspaces.yml
Due: none

Trigger GH action
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Added all validation steps
  .github/workflows/ms.synapse.workspaces.yml
Due: none

test vhd creation
  arm/Microsoft.VirtualMachineImages/imageTemplates/.parameters/parameters.json
Due: none

Iterated on the naming
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Due: none

Updated README
  arm/Microsoft.Synapse/workspaces/readme.md
Due: none

Trigger workflow
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Moved dependencies to module folders + updated pipelines. TODO: Update generation script
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  arm/.global/moduleDependencies/Microsoft.Compute/galleries/images.parameters.bicep
  arm/.global/moduleDependencies/Microsoft.Compute/galleries/parameters.bicep
  arm/Microsoft.AnalysisServices/servers/.parameters/dep.min.parameters.bicep
  arm/Microsoft.AnalysisServices/servers/.parameters/dep.parameters.bicep
  arm/Microsoft.Compute/galleries/.parameters/dep.images.parameters.bicep
  arm/Microsoft.Compute/galleries/.parameters/dep.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.parameters/dep.linux.min.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.parameters/dep.linux.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.parameters/dep.windows.min.parameters.bicep
  arm/Microsoft.Compute/virtualMachines/.parameters/dep.windows.parameters.bicep
  arm/Microsoft.Network/virtualWans/.parameters/dep.parameters.bicep
  arm/Microsoft.Sql/servers/.parameters/dep.parameters.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

initial version of disks module
  .github/workflows/ms.compute.disks.yml
  arm/Microsoft.Compute/disks/.bicep/nested_cuaId.bicep
  arm/Microsoft.Compute/disks/.bicep/nested_rbac.bicep
  arm/Microsoft.Compute/disks/.parameters/parameters.json
  arm/Microsoft.Compute/disks/deploy.bicep
  arm/Microsoft.Compute/disks/readme.md
Due: none

Updated script
  utilities/tools/DependencyFiles/New-DependenciesFile.ps1
  utilities/tools/DependencyFiles/dependencyFileSource/bootstrap.bicep
  utilities/tools/DependencyFiles/dependencyFileSource/bootstrap_var.bicep
  utilities/tools/DependencyFiles/dependencyFileSource/eventHubNamespace.bicep
  utilities/tools/DependencyFiles/dependencyFileSource/logAnalytics.bicep
  utilities/tools/DependencyFiles/dependencyFileSource/managedIdentity.bicep
  utilities/tools/DependencyFiles/dependencyFileSource/storageAccount.bicep
  utilities/tools/DependencyFiles/dependencyFileSource/virtualNetwork.bicep
Due: none

Update Analysis Service and API Management Outputs (#875)
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
  arm/Microsoft.AnalysisServices/servers/readme.md
  arm/Microsoft.ApiManagement/service/.bicep/nested_authorizationServers.bicep
  arm/Microsoft.ApiManagement/service/apiVersionSets/deploy.bicep
  arm/Microsoft.ApiManagement/service/apiVersionSets/readme.md
  arm/Microsoft.ApiManagement/service/apis/deploy.bicep
  arm/Microsoft.ApiManagement/service/apis/policies/deploy.bicep
  arm/Microsoft.ApiManagement/service/apis/policies/readme.md
  arm/Microsoft.ApiManagement/service/apis/readme.md
  arm/Microsoft.ApiManagement/service/authorizationServers/deploy.bicep
  arm/Microsoft.ApiManagement/service/authorizationServers/readme.md
  arm/Microsoft.ApiManagement/service/backends/deploy.bicep
  arm/Microsoft.ApiManagement/service/backends/readme.md
  arm/Microsoft.ApiManagement/service/caches/deploy.bicep
  arm/Microsoft.ApiManagement/service/caches/readme.md
  arm/Microsoft.ApiManagement/service/deploy.bicep
  arm/Microsoft.ApiManagement/service/identityProviders/deploy.bicep
  arm/Microsoft.ApiManagement/service/identityProviders/readme.md
  arm/Microsoft.ApiManagement/service/namedValues/deploy.bicep
  arm/Microsoft.ApiManagement/service/namedValues/readme.md
  arm/Microsoft.ApiManagement/service/policies/deploy.bicep
  arm/Microsoft.ApiManagement/service/policies/readme.md
  arm/Microsoft.ApiManagement/service/portalsettings/deploy.bicep
  arm/Microsoft.ApiManagement/service/portalsettings/readme.md
  arm/Microsoft.ApiManagement/service/products/apis/deploy.bicep
  arm/Microsoft.ApiManagement/service/products/apis/readme.md
  arm/Microsoft.ApiManagement/service/products/deploy.bicep
  arm/Microsoft.ApiManagement/service/products/groups/deploy.bicep
  arm/Microsoft.ApiManagement/service/products/groups/readme.md
  arm/Microsoft.ApiManagement/service/products/readme.md
  arm/Microsoft.ApiManagement/service/readme.md
  arm/Microsoft.ApiManagement/service/subscriptions/deploy.bicep
  arm/Microsoft.ApiManagement/service/subscriptions/readme.md
Due: none

Added managementgroup handling to removal
  .azuredevops/pipelineTemplates/module.jobs.deploy.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Get-ResourceIdsOfDeployment.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Further bugfixes
  utilities/pipelines/resourceRemoval/helper/Get-ResourceIdsOfDeployment.ps1
Due: none

Fixed formatting
  utilities/pipelines/resourceRemoval/helper/Get-ResourceIdsAsFormattedObjectList.ps1
Due: none

First commit
  .azuredevops/modulePipelines/ms.consumption.budgets.yml
  .github/workflows/ms.consumption.budgets.yml
Due: none

Updated & enabled mgmt group removal
  .azuredevops/modulePipelines/ms.management.managementgroups.yml
  .github/workflows/ms.management.managementgroups.yml
Due: none

Minor update to error output
  utilities/pipelines/resourceValidation/Test-TemplateWithParameterFile.ps1
Due: none

Removed changes
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

update
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: none

Revert "Removed changes"
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Revert "Added all validation steps"
  .github/workflows/ms.synapse.workspaces.yml
Due: none

Revert "Updated README"
  arm/Microsoft.Synapse/workspaces/readme.md
Due: none

Fixing weird issues
  .github/workflows/ms.synapse.workspaces.yml
  arm/Microsoft.Synapse/workspaces/readme.md
Due: none

Updated messsages from Test function
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  utilities/pipelines/resourceValidation/Test-TemplateWithParameterFile.ps1
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Fixed missing if condition
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Removed scope fro RBAC assignment
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Removed table formatting
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
Due: none

Update utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Due: none

Added missing parent to access policy
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Updated output
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
Due: none

Fixed & updated automanage deployment (#825)
  arm/Microsoft.Automanage/accounts/.bicep/nested_autoManageAccount.bicep
  arm/Microsoft.Automanage/accounts/.bicep/nested_configurationProfileAssignment.bicep
  arm/Microsoft.Automanage/accounts/.bicep/nested_cuaId.bicep
  arm/Microsoft.Automanage/accounts/.parameters/parameters.json
  arm/Microsoft.Automanage/accounts/deploy.bicep
  arm/Microsoft.Automanage/accounts/readme.md
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_configurationProfileAssignment.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_publicIPAddress.bicep
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/extensions/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/extensions/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Due: none

Resolved code formatting issues
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/keys/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml
