Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.batch.batchaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.logic.workflows.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.security.azuresecuritycenter.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.privatelinkhubs.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml: any of: .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.AppConfiguration/configurationStores, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Authorization/policyAssignments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Authorization/policyDefinitions, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml: any of: .azuredevops/modulePipelines/ms.batch.batchaccounts.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Batch/batchAccounts, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml: any of: .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.DocumentDB/databaseAccounts, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.logic.workflows.yml: any of: .azuredevops/modulePipelines/ms.logic.workflows.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Logic/workflows, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Network/virtualNetworkGateways, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.security.azuresecuritycenter.yml: any of: .azuredevops/modulePipelines/ms.security.azuresecuritycenter.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Security/azureSecurityCenter, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.privatelinkhubs.yml: any of: .azuredevops/modulePipelines/ms.synapse.privatelinkhubs.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Synapse/privateLinkHubs, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml: any of: .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/hostingEnvironments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.sites.yml: any of: .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/sites, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

feat(redis): :sparkles: Added tests, pipelines and secure defaults
  .azuredevops/modulePipelines/ms.cache.redis.yml
  .github/workflows/ms.cache.redis.yml
  arm/Microsoft.Cache/redis/.bicep/nested_rbac.bicep
  arm/Microsoft.Cache/redis/.parameters/full.parameters.json
  arm/Microsoft.Cache/redis/.parameters/min.parameters.json
  arm/Microsoft.Cache/redis/.test/deploy.full.test.bicep
  arm/Microsoft.Cache/redis/.test/deploy.minimal.test.bicep
  arm/Microsoft.Cache/redis/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

feat(gremlin): Updated tests, pipeline, parameters
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml
  arm/Microsoft.DocumentDB/databaseAccounts/.parameters/gremlindb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/.test/deploy.full.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/.test/deploy.minimal.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/.test/deploy.full.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/.test/deploy.minimal.test.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/readme.md
Due: .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

refactor(test): Changed .parameters to .test
  arm/Microsoft.DocumentDB/databaseAccounts/.test/gremlindb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.test/mongodb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.test/plain.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.test/sqldb.parameters.json
Due: none

refactor(test): Changed .parameters to .test
  arm/Microsoft.Cache/redis/.test/full.parameters.json
  arm/Microsoft.Cache/redis/.test/min.parameters.json
Due: none

Update to latest
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Users/ahmad/token update settings (#21)
  .azuredevops/modulePipelines/ms.network.applicationsecuritygroups.yml
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .azuredevops/platformPipelines/platform.wiki-sync.yml
  .github/actions/templates/setEnvironmentVariables/action.yml
  .github/actions/templates/validateModulePester/action.yml
  .github/workflows/ms.network.applicationsecuritygroups.yml
  .github/workflows/platform.dependencies.yml
  modules/.global/global.module.tests.ps1
  settings.yml
  utilities/pipelines/dependencies/Microsoft.Compute/diskEncryptionSets/parameters/parameters.json
  utilities/pipelines/resourceRemoval/helper/Get-DependencyResourceNameList.ps1
  utilities/tools/Test-ModuleLocally.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.batch.batchaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/modulePipelines/ms.logic.workflows.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.security.azuresecuritycenter.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.synapse.privatelinkhubs.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml

Extracted encr to dedicated file
  .azuredevops/modulePipelines/ms.machinelearningservices.workspaces.yml
  modules/Microsoft.MachineLearningServices/workspaces/.test/encr.parameters.json
  modules/Microsoft.MachineLearningServices/workspaces/.test/parameters.json
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
Due: none

Moved param
  modules/Microsoft.DataFactory/factories/deploy.bicep
Due: none

Fixed comment
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/readme.md
Due: none

Updated cmk implemnetation
  modules/Microsoft.DataFactory/factories/.test/parameters.json
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/readme.md
Due: none

ado utilities aad
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
Due: none

[Modules] Redis cache module (#1582)
  .azuredevops/modulePipelines/ms.cache.redis.yml
  .github/workflows/ms.cache.redis.yml
  arm/Microsoft.Cache/redis/.bicep/nested_rbac.bicep
  arm/Microsoft.Cache/redis/.test/full.parameters.json
  arm/Microsoft.Cache/redis/.test/min.parameters.json
  arm/Microsoft.Cache/redis/deploy.bicep
  arm/Microsoft.Cache/redis/readme.md
  arm/Microsoft.Cache/redis/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Align pe description
  modules/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/deploy.bicep
  modules/Microsoft.EventGrid/topics/deploy.bicep
  modules/Microsoft.EventHub/namespaces/deploy.bicep
  modules/Microsoft.Insights/privateLinkScopes/deploy.bicep
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Synapse/privateLinkHubs/deploy.bicep
Due: .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml, .azuredevops/modulePipelines/ms.synapse.privatelinkhubs.yml

Moved folder
  arm/Microsoft.Cache/redis/readme.md
  modules/Microsoft.Cache/redis/.bicep/nested_rbac.bicep
  modules/Microsoft.Cache/redis/.test/full.parameters.json
  modules/Microsoft.Cache/redis/.test/min.parameters.json
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.Cache/redis/version.json
Due: none

Updated pipeline
  .azuredevops/modulePipelines/ms.cache.redis.yml
  .github/workflows/ms.cache.redis.yml
Due: none

Update to latest
  .azuredevops/modulePipelines/ms.cache.redis.yml
Due: none

Updated readm
  modules/Microsoft.Cache/redis/readme.md
Due: none

Updated template
  .azuredevops/modulePipelines/ms.cache.redis.yml
Due: none

Updated readme
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
Due: none

Updated param
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/readme.md
Due: none

Minor refactoring
  utilities/tools/Clear-ManagementGroupDeployment.ps1
Due: none

[Modules] DataFactory: Added private endpoints & customer-managed-key implementation (#1585)
  modules/Microsoft.DataFactory/factories/.test/parameters.json
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/readme.md
Due: none

pdated default
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
Due: none

Updated output
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
Due: none

Updated conditions
  utilities/tools/Clear-ManagementGroupDeployment.ps1
Due: none

Update to latest
  utilities/tools/Clear-ManagementGroupDeployment.ps1
Due: none

Shifted param
  modules/Microsoft.ContainerRegistry/registries/deploy.bicep
Due: none

Regenerated docs
  modules/Microsoft.AnalysisServices/servers/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.Network/vpnSites/readme.md
Due: none

Added config exception
  bicepconfig.json
Due: none

Align pe description readmes
  docs/wiki/The library - Module design.md
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/deploy.bicep
  modules/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated DevOps Registration (#1611)
  utilities/tools/AzureDevOps/Register-AzureDevOpsPipeline.ps1
Due: none

Update utilities/tools/Clear-ManagementGroupDeployment.ps1
  utilities/tools/Clear-ManagementGroupDeployment.ps1
Due: none

Added docs
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Management Group Deployment removal utility.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated exceptions
  bicepconfig.json
Due: none

[Modules] Aligned privateEndpoints description metadata across modules (#1636)
  docs/wiki/The library - Module design.md
  modules/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.CognitiveServices/accounts/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.EventGrid/topics/deploy.bicep
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/deploy.bicep
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/deploy.bicep
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/deploy.bicep
  modules/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml, .azuredevops/modulePipelines/ms.synapse.privatelinkhubs.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Added function for later use (#1622)
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Management Group Deployment removal utility.md
  utilities/tools/Clear-ManagementGroupDeployment.ps1
  utilities/tools/helper/Split-Array.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml
