Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: dummyTest
    displayName: Dummy test
    jobs:
    - job: null
      displayName: Run global tests
      timeoutInMinutes: 180
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: PowerShell@2
        displayName: Setup agent
        inputs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Update utilities/tools/Set-ReadMeModuleTable.ps1
  utilities/tools/Set-ReadMeModuleTable.ps1
Due: none

Draft for cognitive services cmk
  .azuredevops/modulePipelines/ms.cognitiveservices.accounts.yml
  arm/Microsoft.CognitiveServices/accounts/.parameters/encr.parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed CMK implementation as its currently not fully working & Set secure defaults
  .azuredevops/modulePipelines/ms.cognitiveservices.accounts.yml
  arm/Microsoft.CognitiveServices/accounts/.parameters/encr.parameters.json
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/.parameters/speech.parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added encryption test
  .azuredevops/modulePipelines/ms.cognitiveservices.accounts.yml
  arm/Microsoft.CognitiveServices/accounts/.parameters/encr.parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added docs
  arm/Microsoft.CognitiveServices/accounts/.parameters/encr.parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated readme
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: none

Updated metadata
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Shuffle
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Minor update
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Minor update
  arm/Microsoft.CognitiveServices/accounts/.parameters/encr.parameters.json
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: none

docs update
  docs/wiki/The CI environment - Deployment validation.md
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated param files
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

Undid autoaccount changes
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

Added Pester output
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Undid pester changes
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Users/alsehr/1471 cli workaround (#1476)
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

[Module] Fix pipeline errors (#1448)
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/readme.md
  arm/Microsoft.DesktopVirtualization/hostpools/.parameters/parameters.json
  arm/Microsoft.DesktopVirtualization/hostpools/readme.md
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/readme.md
  arm/Microsoft.Security/azureSecurityCenter/deploy.bicep
  arm/Microsoft.Security/azureSecurityCenter/readme.md
  arm/Microsoft.Web/hostingEnvironments/.parameters/asev2.parameters.json
  arm/Microsoft.Web/hostingEnvironments/.parameters/asev3.parameters.json
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
  arm/Microsoft.Web/hostingEnvironments/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/ase.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Aligned param and output naming + descirption with OOP practices
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/webhooks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update readmes
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.ContainerRegistry/registries/webhooks/README.md
Due: none

added a space
  arm/Microsoft.ContainerRegistry/registries/readme.md
Due: none

remove readme
  arm/Microsoft.ContainerRegistry/registries/webhooks/README.md
Due: none

added readme with lowercase name
  arm/Microsoft.ContainerRegistry/registries/webhooks/readme.md
Due: none

remove todo tags
  arm/Microsoft.ContainerRegistry/registries/webhooks/readme.md
Due: none

registryName = conditional
  arm/Microsoft.ContainerRegistry/registries/webhooks/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/webhooks/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fix based on tests
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/webhooks/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/webhooks/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update based on tests
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.ContainerRegistry/registries/webhooks/readme.md
Due: none

[Modules] webhooks for ACR (#1397)
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.ContainerRegistry/registries/webhooks/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/webhooks/readme.md
  arm/Microsoft.ContainerRegistry/registries/webhooks/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Updated param name
  arm/Microsoft.Storage/storageAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated param name
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Added lock to storage
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Changed to updated API and also added new feature properties
  arm/Microsoft.RecoveryServices/vaults/backupConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupPolicies/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupStorageConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Don't pass locks to children
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Sql/managedInstances/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.DesktopVirtualization/applicationgroups/deploy.bicep
  arm/Microsoft.DesktopVirtualization/applicationgroups/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.DesktopVirtualization/applicationgroups/readme.md
  arm/Microsoft.DesktopVirtualization/applicationgroups/readme.md
Due: none

Update arm/Microsoft.Resources/resourceGroups/deploy.bicep
  arm/Microsoft.Resources/resourceGroups/deploy.bicep
Due: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
