Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Authorization/policyAssignments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.Authorization/policyDefinitions, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.automation.automationaccounts.yml: any of: .azuredevops/modulePipelines/ms.automation.automationaccounts.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Automation/automationAccounts, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.disks.yml: any of: .azuredevops/modulePipelines/ms.compute.disks.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Compute/disks, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachines.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.Compute/virtualMachines, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml: any of: .azuredevops/modulePipelines/ms.compute.virtualmachinescalesets.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Compute/virtualMachineScaleSets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.consumption.budgets.yml: any of: .azuredevops/modulePipelines/ms.consumption.budgets.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Consumption/budgets, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml: any of: .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml, .azuredevops/pipelineTemplates/*.yml, modules/Microsoft.DocumentDB/databaseAccounts, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Network/virtualNetworkGateways, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.tags.yml: any of: .azuredevops/modulePipelines/ms.resources.tags.yml, .azuredevops/pipelineTemplates/jobs.*.yml, arm/Microsoft.Resources/tags, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.servicefabric.clusters.yml: any of: .azuredevops/modulePipelines/ms.servicefabric.clusters.yml, .azuredevops/pipelineTemplates/module.*.yml, modules/Microsoft.ServiceFabric/clusters, modules/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml: any of: .azuredevops/modulePipelines/ms.web.hostingenvironments.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/hostingEnvironments, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.web.sites.yml: any of: .azuredevops/modulePipelines/ms.web.sites.yml, .azuredevops/pipelineTemplates/*.yml, arm/Microsoft.Web/sites, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Adding param for min tls version
  modules/Microsoft.Sql/servers/.parameters/parameters.json
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
  settings.json
Due: none

update namePrefix
  settings.json
Due: none

clean up default value in dependency pipeline
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

whitespace
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Fixed several wiki issues (#1613)
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Token replacement.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Reset some of the feedback from Mate's wiki walkthrough
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

reverting name prefix
  settings.json
Due: none

Update docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Wiki] Reset some of the feedback from Wiki walkthrough (#1617)
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Modules] Minimum TLS version for SQL server (#1618)
  modules/Microsoft.Sql/servers/.parameters/parameters.json
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
Due: none

Add auto assign automation
  .github/auto_assign.yml
  .github/workflows/autoassign.yml
Due: none

[Modules] Added Web PubSub module (#1568)
  .azuredevops/modulePipelines/ms.signalrservice.webpubsub.yml
  .github/workflows/ms.signalrservice.webpubsub.yml
  arm/Microsoft.SignalRService/webPubSub/.bicep/nested_rbac.bicep
  arm/Microsoft.SignalRService/webPubSub/.parameters/full.parameters.json
  arm/Microsoft.SignalRService/webPubSub/.parameters/min.parameters.json
  arm/Microsoft.SignalRService/webPubSub/deploy.bicep
  arm/Microsoft.SignalRService/webPubSub/readme.md
  arm/Microsoft.SignalRService/webPubSub/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Moved mmodule to temp loc
  Microsoft.SignalRService/webPubSub/.bicep/nested_rbac.bicep
  Microsoft.SignalRService/webPubSub/.parameters/full.parameters.json
  Microsoft.SignalRService/webPubSub/.parameters/min.parameters.json
  Microsoft.SignalRService/webPubSub/deploy.bicep
  Microsoft.SignalRService/webPubSub/readme.md
  Microsoft.SignalRService/webPubSub/version.json
  arm/Microsoft.SignalRService/webPubSub/readme.md
Due: none

Merged latest main & moved SignalR to target location
  modules/Microsoft.SignalRService/webPubSub/.bicep/nested_rbac.bicep
  modules/Microsoft.SignalRService/webPubSub/.parameters/full.parameters.json
  modules/Microsoft.SignalRService/webPubSub/.parameters/min.parameters.json
  modules/Microsoft.SignalRService/webPubSub/deploy.bicep
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.SignalRService/webPubSub/version.json
Due: none

Updated SignalR pipelines to latest
  .azuredevops/modulePipelines/ms.signalrservice.webpubsub.yml
  .github/workflows/ms.signalrservice.webpubsub.yml
Due: none

Several smaller fixes
  modules/Microsoft.SignalRService/webPubSub/.parameters/full.parameters.json
  modules/Microsoft.SignalRService/webPubSub/deploy.bicep
  modules/Microsoft.SignalRService/webPubSub/readme.md
Due: none

Moved and rename
  .github/platform.auto-assign-PR.configuration.yml
  .github/workflows/platform.autoassign.yml
Due: none

Update docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
  docs/wiki/Fetching latest changes - Scenario 1 Module library only.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Home.md
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Fetching latest updates.md
  docs/wiki/Fetching latest updates.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml
